## 2. star(*)

In [1]:
* >> zero or more occurrence

SyntaxError: invalid syntax (950944272.py, line 1)

In [2]:
import re

In [3]:
text = 'python and data science pyttttthon  pythhhhon python pyhon pythonnnnn'
result = re.findall('pyt', text)
print(result, len(result))

['pyt', 'pyt', 'pyt', 'pyt', 'pyt'] 5

In [4]:
text = 'python and data science pyttttthon  pythhhhon python pyhon pythonnnnn'
result = re.findall('pyt+', text)
print(result, len(result))

['pyt', 'pyttttt', 'pyt', 'pyt', 'pyt'] 5

In [5]:
text = 'python and data science pyttttthon  pythhhhon python pyhon pythonnnnn'
result = re.findall('pyt*', text)
print(result, len(result))

['pyt', 'pyttttt', 'pyt', 'pyt', 'py', 'pyt'] 6

In [6]:
text = 'python and data science pyttttthon  pythhhhon python pyhon pythonnnnn'
result = re.findall('pyt*hon', text)
print(result, len(result))

['python', 'pyttttthon', 'python', 'pyhon', 'python'] 5

In [8]:
text = 'python and data science pyttttthon  pythhhhon pyton pyhon pythonnnnn'
result = re.findall('pyt*h+on', text)
print(result, len(result))

['python', 'pyttttthon', 'pythhhhon', 'pyhon', 'python'] 5

In [9]:
text = 'python and data science pyttttthon  pythhhhon pyton pyhon pythonnnnn'
result = re.findall('pyt*h*on', text)
print(result, len(result))

['python', 'pyttttthon', 'pythhhhon', 'pyton', 'pyhon', 'python'] 6

In [10]:
text = 'python and data science pyttttthon  pythhhhon pyton pyhon pythonnnnn'
result = re.findall('pyt*h*on*', text)
print(result, len(result))

['python', 'pyttttthon', 'pythhhhon', 'pyton', 'pyhon', 'pythonnnnn'] 6

In [11]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcfr 12345 pyhon pythonnnnn'
result = re.findall('[0-9]{5}', text)
print(result, len(result))

['98745', '12345'] 2

In [12]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('[0-9]{5}[a-z]{5}', text)
print(result, len(result))

['98745abcde'] 1

In [14]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('[0-9]{5}[a-z]+', text)
print(result, len(result))

['98745abcde'] 1

In [15]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('[0-9]{5}[a-z]*', text)
print(result, len(result))

['98745abcde', '12345'] 2

In [16]:
text = 'batman and batwoman'
result = re.findall('bat', text)
print(result, len(result))

['bat', 'bat'] 2

In [17]:
text = 'batman and batwoman'
result = re.findall('bat+', text)
print(result, len(result))

['bat', 'bat'] 2

In [18]:
text = 'batman and batwoman'
result = re.findall('bat*', text)
print(result, len(result))

['bat', 'bat'] 2

In [19]:
text = 'batman and batwoman'
result = re.findall('batman', text)
print(result, len(result))

['batman'] 1

In [21]:
text = 'batman and batwoman'
result = re.findall('batw*o*man', text)
print(result, len(result))

['batman', 'batwoman'] 2

In [22]:
text = 'batman and batwoman batwwwoman batwoooman'
result = re.findall('batw*o*man', text)
print(result, len(result))

['batman', 'batwoman', 'batwwwoman', 'batwoooman'] 4

In [23]:
text = 'batman and batwoman batwwwoman batwoooman'
result = re.findall('batw+o+man', text)
print(result, len(result))

['batwoman', 'batwwwoman', 'batwoooman'] 3

## 3. dot(.)

In [ ]:
. >> any char (except new line >> \n)

In [25]:
text = 'python and data science'
result = re.findall('pyt.',text)
print(result)

['pyth']

In [27]:
text = 'python and data science'
result = re.findall('pyt....',text)
print(result)

['python ']

In [28]:
text = 'python and data science'
result = re.findall('pyt..n',text)
print(result)

['python']

In [33]:
text = '''python and data science pyt
hon     python pyt000 pytb 9'''
result = re.findall('pyt...',text)
print(result)

['python', 'python', 'pyt000', 'pytb 9']

In [34]:
text

'python and data science pyt\nhon     python pyt000 pytb 9'

In [35]:
text = 'python and data science pythhhhon pyttthon'
result = re.findall('py.hon',text)
print(result)

['python']

In [36]:
text = 'python and data science pythhhhon pyttthon'
result = re.findall('py.h+on',text)
print(result)

['python', 'pythhhhon']

In [37]:
text = 'python and data science pythhhhon pyttthon'
result = re.findall('py.+h+on',text)
print(result)

['python and data science pythhhhon pyttthon']

In [38]:
text = 'python and data science'
result = re.findall('p.',text)
print(result)

['py']

In [39]:
text = 'python and data science'
result = re.findall('p.+',text)
print(result)

['python and data science']

In [41]:
text = 'python and data scienced'
result = re.findall('p.+d',text)
print(result)

['python and data scienced']

In [42]:
text = 'python and data \n scienced'
result = re.findall('p.+d',text)
print(result)

['python and d']

In [44]:
numbers = '''9988774455
             8899002211    
             9545456585
             9978451000
             9977120123'''

result = re.findall('99........', numbers)
result

['9988774455', '99002211  ', '9978451000', '9977120123']

In [46]:
numbers = '''9988774455
             8899002211    
             9545456585
             9978451000
             9977120100'''

result = re.findall('99......00', numbers)
result

['9978451000', '9977120100']

In [47]:
numbers = '''9988774455
             8899002211    
             9545456585
             9978451000
             9977120100'''

result = re.findall('99.+0', numbers)
result

['9900', '9978451000', '9977120100']

## 4. Question Mark (?)

In [ ]:
? >> It matches exactly zero or more occurrence

In [49]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt', text)
print(result, len(result))

['pyt', 'pyt', 'pyt', 'pyt', 'pyt'] 5

In [50]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt+', text)
print(result, len(result))

['pyt', 'pyttttt', 'pyt', 'pyt', 'pyt'] 5

In [51]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt*', text)
print(result, len(result))

['pyt', 'pyttttt', 'pyt', 'pyt', 'py', 'pyt'] 6

In [52]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt?', text)
print(result, len(result))

['pyt', 'pyt', 'pyt', 'pyt', 'py', 'pyt'] 6

In [53]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt*h*on', text)
print(result, len(result))

['python', 'pyttttthon', 'pythhhhon', 'pyton', 'pyhon', 'python'] 6

In [54]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt+h+on', text)
print(result, len(result))

['python', 'pyttttthon', 'pythhhhon', 'python'] 4

In [55]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt?h?on', text)
print(result, len(result))

['python', 'pyton', 'pyhon', 'python'] 4

In [56]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('pyt?h+on', text)
print(result, len(result))

['python', 'pythhhhon', 'pyhon', 'python'] 4

In [ ]:
1. + >> One or More Occurrences
2. * >> Zero or More Occurrences
3. . >> An char except \n(new line)
4. ? >> exactly Zero or One Occurrence

## 5. Startswith (^)

In [ ]:
^ >> startswith  (first index or position)

In [57]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
text.startswith('p')

True

In [58]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
text.startswith('P')

False

In [59]:
text = ' python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
text.startswith('p')

False

In [61]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('^p', text)
result

['p']

In [62]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('^python', text)
result

['python']

In [63]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('^Python', text)
result

[]

In [65]:
text = 'python and data science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('^[a-z]{5}', text)
result

['pytho']

In [67]:
# if we use ^ inside [ ] this brackets it works as except
text = 'python and Data Science pyttttthon  pythhhhon pyton 98745abcde 12345 pyhon pythonnnnn'
result = re.findall('[^a-z]+', text)
result

[' ', ' D', ' S', ' ', '  ', ' ', ' 98745', ' 12345 ', ' ']

In [69]:
num = '12345 456 786 fghjk'
result = re.findall('[^0-9]+', num)
result

[' ', ' ', ' fghjk']

In [70]:
# if we use ^ outside [ ] this brackets it works as startswith
num = '12345 456 786 fghjk'
result = re.findall('^[0-9]+', num)
result

['12345']

In [71]:
# if we use ^ outside [ ] this brackets it works as startswith
num = '12345 456 786 fghjk'
result = re.findall('^[0-9]{4}', num)
result

['1234']

In [72]:
# if we use ^ outside [ ] this brackets it works as startswith
num = ' 12345 456 786 fghjk'
result = re.findall('^[0-9]{4}', num)
result

[]

In [73]:
# if we use ^ outside [ ] this brackets it works as startswith
num = ' 12345 456 786 fghjk'
result = re.findall('^\s', num)
result

[' ']

In [74]:
# if we use ^ outside [ ] this brackets it works as startswith
num = '12345 456 786 fghjk'
result = re.findall('^\d', num)
result

['1']

## 6. endswith ($)

In [ ]:
$ >> endswith

In [75]:
text = 'data science and machine learning'
result = re.findall('and$', text)
result

[]

In [76]:
text = 'data science and machine learning'
result = re.findall('learning$', text)
result

['learning']

In [77]:
text = 'data science and machine learning '
result = re.findall('learning$', text)
result

[]

In [78]:
text = 'data science and machine learning '
result = re.findall('\s$', text)
result

[' ']

In [79]:
text = 'data science and machine learning'
result = re.findall('[a-z]$', text)
result

['g']

In [80]:
text = 'data science and machine learning'
result = re.findall('[a-z]+$', text)
result

['learning']

In [81]:
text = 'data science and machine learning'
result = re.findall('^and$', text)
result

[]

In [84]:
text = 'data andscience and machineand learning annd'
result = re.findall('and', text)
result

['and', 'and', 'and']

In [85]:
text = 'data andscience and machineand learning annd'
result = re.findall(r'\band\b', text)
result

['and']

## 7. or (|)

In [86]:
text = 'data science and machine learning'
result = re.findall('data',text)
result

['data']

In [89]:
text = 'data science and machine learning, deep learning'
result = re.findall('machine|deep',text)
result

['machine', 'deep']

In [90]:
text = 'data science and machine learning, deep learning'
result = re.findall('machine|deep|science',text)
result

['science', 'machine', 'deep']

In [91]:
text = 'data science and deep learning'
result = re.findall('machine|deep|science',text)
result

['science', 'deep']

In [92]:
text = ''' 31-10-2020
           01-11-2022
           31 Oct 2022
           01 Nov 2022'''

dates = re.findall('\d{2}-\d{2}-\d{4}',text)
dates

['31-10-2020', '01-11-2022']

In [93]:
text = ''' 31-10-2020
           01-11-2022
           31 Oct 2022
           01 Nov 2022'''

dates = re.findall('\d{2}\s[A-z]+\s\d{4}',text)
dates

['31 Oct 2022', '01 Nov 2022']

In [94]:
text = ''' 31-10-2020
           01-11-2022
           31 Oct 2022
           01 Nov 2022'''

dates = re.findall('\d{2}\s[A-z]+\s\d{4}|\d{2}-\d{2}-\d{4}',text)
dates

['31-10-2020', '01-11-2022', '31 Oct 2022', '01 Nov 2022']

## 8. [ ] >> pattern or sequence
## { } >> repetition

## 9.  ( ) >> group of char

In [95]:
numbers = '''Mobile numbers are : +91 9890551100
            9545848484 
            +91 7878541200 '''
result = re.findall('\d{10}',numbers)
result

['9890551100', '9545848484', '7878541200']

In [96]:
numbers = '''Mobile numbers are : +91 9890551100
            9545848484 
            +91 7878541200 '''
result = re.findall('[+]\d{2}\s\d{10}',numbers)
result

['+91 9890551100', '+91 7878541200']

In [145]:
numbers = '''Mobile numbers are : +91 9890551100
            9545848484 
            +91 7878541200 '''
result = re.compile('([+]\d{2}[ ])?\d{10}')
result

re.compile(r'([+]\d{2})?\d{10}', re.UNICODE)

In [146]:
result.findall(numbers)

['+91', '', '+91']

## 3. search

In [ ]:
It searches for a match/pattern and returns an object
Search for first occurrence only

In [101]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.findall('\d{10}', text)
mobil_number

['9878454512', '7854120000']

In [102]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{10}', text)
mobil_number

In [103]:
type(mobil_number)

re.Match

In [104]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{10}', text)
mobil_number.group()

'9878454512'

In [105]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{11}', text)
mobil_number

In [106]:
print(mobil_number)

None

In [107]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{11}', text)
if mobil_number:
    print(mobil_number.group())

In [108]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{10}', text)
if mobil_number: # if there is something in mobil_number object(it is not empty)
    print(mobil_number.group())

9878454512

In [109]:
mobil_number.span()

(8, 18)

In [110]:
text[8:18]

'9878454512'

In [111]:
mobil_number.start()

8

In [112]:
mobil_number.end()

18

In [115]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{10}', text)
if mobil_number: # if there is something in mobil_number object(it is not empty)
    print(mobil_number.group())
    print(mobil_number.span())
    print(mobil_number.start())
    print(mobil_number.end())

9878454512
(8, 18)
8
18

In [116]:
text = '''MObile  9878454512
            7854120000'''
mobil_number = re.search('\d{11}', text)
if mobil_number: # if there is something in mobil_number object(it is not empty)
    print(mobil_number.group())
    print(mobil_number.span())
    print(mobil_number.start())
    print(mobil_number.end())

## 4. match

In [ ]:
Match function searches for a match at the beginning of the string
Checks for first index item of string/ first position

In [117]:
text = 'data science and deep learning'
result =re.match('data',text)
result

In [119]:
text = 'data science and deep learning'
result =re.match('and',text)
print(result)

None

In [122]:
text = 'data science and deep learning'
result =re.match('data',text)
if result:
    print(result.group())
    print(result.span())
    print(result.start())
    print(result.end())

data
(0, 4)
0
4

In [123]:
text = 'machine learning and data science and deep learning'
result =re.match('data|machine|deep',text)
if result:
    print(result.group())
    print(result.span())
    print(result.start())
    print(result.end())

machine
(0, 7)
0
7

In [124]:
text[:7]

'machine'

In [ ]:
import pandas as pd

In [125]:
pd.DataFrame()

NameError: name 'pd' is not defined